
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
nav{
    margin-top: 0;
    font-size: 1.5em;
    background-color: #034544;
    color: white;
}
a{
    text-decoration: none;
    color: #ffffff;
}
ul{
    display: flex;
    justify-content: space-between;;
}
li{
    list-style: none;
}